.cartList {
	background-color: transparent;
	.webix_dataview_item {
		&, &.webix_selected {
			background-image: none;
			padding: 10px 10px 0 0;
			background-color:transparent;
			border-color: transparent;

		}

		&:nth-of-type(3n + 1) {
			&, &.webix_selected {
				padding-left: 10px;
			}
		}

		&.webix_selected {
			.overall {
				background-color: #F4F5F9;
			}
		}

		.overall {
			display: flex;
			padding: 10px;
			background-color: #fff;
			position: relative;
			height: 100%;
			border: 1px solid #DADEE0;
			box-sizing: border-box;

			&_left {
				margin-right: 12px;
			}

			.itemImg {
				box-sizing: border-box;
				width: 168px;
				height: 168px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin-bottom: 6px;
			}

			.edit_item {
				position: absolute;
				top: 5px;
				right: 10px;
				padding-left: 10px;
				> i {
					color: #AAA;
					font-size: 14px;
				}
	
				&:hover {
					> i {
						color: grey;
					}
				}
			}
		}
	}
}
