.cartList {
	background-color: transparent;
	.webix_dataview_item {
		&, &.webix_selected {
			background-color:transparent;
			border-color: transparent;
		}
		.webix_dataview_inner_item {
			padding:2px 2px;
		}

		&.webix_selected {
			.overall {
				background-color: #F4F5F9;
			}
		}

		.overall {
			display:flex;
			padding: 16px;
			background-color: #fff;
			position: relative;
			border: 1px solid #DADEE0;
			box-sizing: border-box;
			height: 100%;

			&_left {
				margin-right: 12px;
			}

			.itemImg {
				box-sizing: border-box;
				width: 168px;
				height: 168px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin-bottom: 6px;
			}

			.edit_item {
				position: absolute;
				top: 16px;
				right: 16px;
				> i {
					color: #AAA;
					font-size: 20px;
				}
	
				&:hover {
					> i {
						color: grey;
					}
				}
			}
		}
	}
}
