.leftMenu {
	.webix_list_item {
		line-height: 40px;

		&.webix_selected {
			color: #1ca1c1;

			.webix_list_icon {
				color: #1ca1c1;
			}
		}

		.webix_list_icon {
			margin-right: 10px;
		}
	}

	.webix_context_spacer {
		height: 15px;
	}
}
