@import "cartList";
@import "leftMenu";
@import "userCart";

.webix_layout_space, .webix_layout_wide {
	background-color: #dadbdd;
}

.grey {
	background-color: #ebedf0;
}

.text_danger {
	color: #FF5C4C;
}

.text_success {
	color: #55CD97;
}
