@import "cartList";
@import "cartToolbar";
@import "leftMenu";
@import "userCart";

.webix_layout_space, .webix_layout_wide {
	background-color: #dadbdd;
}

.white {
	background-color: #ffffff;
}

.grey {
	background-color: #ebedf0;
}
